<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="SeleniumLog4J">
  <Properties>
    <Property name="basePath">./logs</Property>
  </Properties>
  
<Appenders>

<RollingFile name="File" fileName="${basePath}/app.log"
                       filePattern="${basePath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            
            <Policies>
            <OnStartupTriggeringPolicy />
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
          </RollingFile>
  <Console name="STDOUT" target="SYSTEM_OUT">
   <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  </Console>
</Appenders>
<Loggers>
  <Logger name="alpha.alphaTest" level="trace" additivity="false">
    <AppenderRef ref="File"/>
  </Logger>
  <Logger name="alpha.testalpha" level="trace" additivity="false">
    <AppenderRef ref="File"/>
  </Logger>
  <Root level="trace">
    <AppenderRef ref="STDOUT"/>
  </Root>
</Loggers>
</Configuration>